<%= render 'meme_edit_template'%>
<%= render 'meme_index_template'%>
<div class='nav'>
  <ul>
    <li><a href='#all'>Browse</a></li>
    <li><a href='#/meme/create'> Create</a></li>
  </ul>
</div>
<hr>
<div id='content'>
</div>
<img class='meme-template' src='<%= asset_url("xzibit-happy.jpg")%>'>
<img class='meme-template' src='<%= asset_url("boromir.jpg")%>'>
<img class='meme-template' src='<%= asset_url("morpheus.jpg")%>'>